@keyframes show_in {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    75% {
        transform: scale(1.07);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card {
    @apply opacity-0;
    animation: show_in 200ms linear calc(var(--animation-order) * 100ms) 1 forwards;
}

.card > div {
    @apply transition-transform p-4 text-center rounded-3xl h-full hover:shadow-[0_3px_10px_rgba(0,0,0,0.09)];
}

.card > div:hover {
    transform: scale3d(1.07, 1.07, 1.07);
}

@keyframes come_in {
    0% {
        @apply translate-x-64
    }

    75% {
        @apply -translate-x-10
    }

    100% {
        @apply translate-x-0
    }
}

@keyframes come_out {
    0% {
        @apply translate-x-0
    }

    75% {
        @apply -translate-x-10
    }

    100% {
        @apply translate-x-80
    }
}

@keyframes progress_bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.toast {
    @apply rounded-xl p-3 shadow-xl flex gap-4 relative overflow-clip;
    animation: come_in .4s ease-out 0s 1 forwards;
}

.toast.__closed {
    animation: come_out .4s ease-out 0s 1 forwards;
}

.toast:hover .progress {
    animation-play-state: paused;
}

.close_toast {
    @apply font-emoji absolute top-2 right-2 cursor-pointer text-sm transition-transform ease-in-out active:scale-95;
}

.progress {
    @apply absolute left-0 bottom-0 h-1.5 w-0;
    animation: progress_bar 5s linear 0s 1 forwards;
    animation-play-state: running;
}

.empty_results {
    @apply bg-slate-100 rounded-md flex justify-center items-center flex-col py-10;
    animation: show_in 200ms linear 0s 1 forwards;
}

.empty_results > h4 {
    @apply font-emoji text-9xl mb-4;
}
