---
import Listing from './components/listing/index.astro';
import Categories from './components/categories/index.astro';
---

<div class="max-w-[1600px] w-11/12 mx-auto">
    <Categories />
    <Listing />
</div>
