---
import Header from '@components/layouts/header/index.astro';
import '@fontsource-variable/overpass';
import '@fontsource-variable/noto-emoji';
import '@styles/base.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Emogit</title>
    </head>
    <body>
        <main>
            <Header />
        </main>
    </body>
</html>
