.category_container {
    @apply flex justify-between items-center gap-3 mb-8;
    container: category_container / size;
}

.category_nav {
    @apply flex items-center justify-between snap-x snap-mandatory gap-2 max-w-6xl h-10 w-full mx-auto;
    overflow: scroll;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category_nav::-webkit-scrollbar {
    @apply hidden;
}

.category {
    @apply font-light whitespace-nowrap text-sm text-slate-500 relative transition-colors after:opacity-0 after:transition-all after:-translate-y-4 after:bg-yellow-500 after:w-full after:h-px after:absolute after:left-0 after:bottom-0 hover:text-yellow-500 hover:after:translate-y-0 hover:after:opacity-100;
    scroll-snap-align: start;
}

.category.__selected {
    @apply text-yellow-500 after:translate-y-0 after:opacity-100;
}

.nav_button {
    @apply hidden font-emoji;
}

@container category_container (width < 1048px) {
    .nav_button {
        @apply block;
    }
}
