.category_container {
    @apply flex justify-between items-center gap-3 mb-8;
    container: category_container / size;
}

.category_nav {
    @apply flex items-center justify-between snap-x snap-mandatory gap-2 max-w-6xl h-10 w-full mx-auto;
    overflow: scroll;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category_nav::-webkit-scrollbar {
    @apply hidden;
}

.category {
    @apply font-light whitespace-nowrap text-sm relative transition-colors px-2 py-1 hover:text-yellow-500;
    scroll-snap-align: start;
}

.category.__selected {
    @apply bg-yellow-500 text-white border-yellow-500;
}

.nav_button {
    @apply hidden font-emoji;
}

@container category_container (width < 1048px) {
    .nav_button {
        @apply block;
    }
}
