---
import Emoji from "./emoji";
import './emoji.css'
---

<div class="mb-10 text-center">
    <h1 class="text-5xl font-light text-black selection:bg-transparent">Em<Emoji client:visible />git</h1>
    <p>A Git commit messages style-guide</p>
</div>
